body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("cool-background (1).png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

/* The coilective frame */
.container {
    width: 70vw;
    /* height: 100vh; */
    text-align: center;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */

.header {
    color: white;
}

/* nav bar */
.btnBox {
    display: flex;
    justify-content: center;
    padding: 0;
}

.btnBox li {
    list-style: none;
}

li > button {
    background: red;
    outline: none;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
}

.centerLeft {
    margin: 0 10px;
}

.centerRight {
    margin-right: 10px;
}
/* Main */
.main {
    height: 80%;
}

.main_inner {
    min-height: 90%;
    background: rgb(32, 32, 32);
}

.footer {
    background: black;
    color: white;
}